:root {
  --colors-text-primary: var(--colors-gray-light-mode-900);
  --colors-text-tertiary: var(--colors-gray-light-mode-600);
  --colors-text-error: var(--colors-error-600);
  --colors-text-warning: var(--colors-warning-600);
  --colors-text-success: var(--colors-success-600);
  --colors-text-white: var(--colors-base-white);
  --colors-text-secondary: var(--colors-gray-light-mode-700);
  --colors-text-disabled: var(--colors-gray-light-mode-500);
  --colors-text-secondary-hover: var(--colors-gray-light-mode-800);
  --colors-text-tertiary-hover: var(--colors-gray-light-mode-700);
  --colors-text-brand-secondary: var(--colors-brand-700);
  --colors-text-placeholder: var(--colors-gray-light-mode-500);
  --colors-text-placeholder-subtle: var(--colors-gray-light-mode-300);
  --colors-text-brand-tertiary: var(--colors-brand-600);
  --colors-text-quarternary: var(--colors-gray-light-mode-500);
  --colors-text-brand-primary: var(--colors-brand-900);
  --colors-text-primary-on-brand: var(--colors-base-white);
  --colors-text-secondary-on-brand: var(--colors-brand-200);
  --colors-text-tertiary-on-brand: var(--colors-brand-200);
  --colors-text-quarternary-on-brand: var(--colors-brand-300);
  --colors-text-brand-tertiary-alt: var(--colors-brand-600);
  --colors-border-secondary: var(--colors-gray-light-mode-200);
  --colors-border-error: var(--colors-error-300);
  --colors-border-primary: var(--colors-gray-light-mode-300);
  --colors-border-brand: var(--colors-brand-300);
  --colors-border-brand-solid: var(--colors-brand-600);
  --colors-border-disabled: var(--colors-gray-light-mode-300);
  --colors-border-error-solid: var(--colors-error-600);
  --colors-border-disabled-subtle: var(--colors-gray-light-mode-200);
  --colors-border-tertiary: var(--colors-gray-light-mode-100);
  --colors-border-brand-solid-alt: var(--colors-brand-600);
  --colors-background-primary: var(--colors-base-white);
  --colors-background-tertiary: var(--colors-gray-light-mode-100);
  --colors-background-brand-primary: var(--colors-brand-50);
  --colors-background-error-secondary: var(--colors-error-100);
  --colors-background-warning-primary: var(--colors-warning-50);
  --colors-background-warning-secondary: var(--colors-warning-100);
  --colors-background-success-primary: var(--colors-success-50);
  --colors-background-success-secondary: var(--colors-success-100);
  --colors-background-brand-solid: var(--colors-brand-600);
  --colors-background-secondary-solid: var(--colors-gray-light-mode-600);
  --colors-background-error-solid: var(--colors-error-600);
  --colors-background-warning-solid: var(--colors-warning-600);
  --colors-background-success-solid: var(--colors-success-600);
  --colors-background-secondary-hover: var(--colors-gray-light-mode-100);
  --colors-background-primary-hover: var(--colors-gray-light-mode-50);
  --colors-background-disabled: var(--colors-gray-light-mode-100);
  --colors-background-active: var(--colors-gray-light-mode-50);
  --colors-background-brand-solid-hover: var(--colors-brand-700);
  --colors-background-error-primary: var(--colors-error-50);
  --colors-background-brand-secondary: var(--colors-brand-100);
  --colors-background-secondary: var(--colors-gray-light-mode-50);
  --colors-background-disabled-subtle: var(--colors-gray-light-mode-50);
  --colors-background-quarternary: var(--colors-gray-light-mode-200);
  --colors-background-primary-alt: var(--colors-base-white);
  --colors-background-brand-primary-alt: var(--colors-brand-50);
  --colors-background-secondary-alt: var(--colors-gray-light-mode-50);
  --colors-background-overlay: var(--colors-gray-light-mode-950);
  --colors-background-secondary-subtle: var(--colors-gray-light-mode-25);
  --colors-background-brand-section: var(--colors-brand-800);
  --colors-background-brand-section-subtle: var(--colors-brand-700);
  --colors-background-primary-solid: var(--colors-gray-light-mode-950);
  --colors-foreground-secondary-700: var(--colors-gray-light-mode-700);
  --colors-foreground-warning-primary: var(--colors-warning-600);
  --colors-foreground-success-primary: var(--colors-success-600);
  --colors-foreground-white: var(--colors-base-white);
  --colors-foreground-success-secondary: var(--colors-success-500);
  --colors-foreground-secondary-hover: var(--colors-gray-light-mode-800);
  --colors-foreground-primary-900: var(--colors-gray-light-mode-900);
  --colors-foreground-disabled: var(--colors-gray-light-mode-400);
  --colors-foreground-quarternary-500: var(--colors-gray-light-mode-500);
  --colors-foreground-quarternary-hover: var(--colors-gray-light-mode-600);
  --colors-foreground-brand-secondary-500: var(--colors-brand-500);
  --colors-foreground-brand-primary-600: var(--colors-brand-600);
  --colors-foreground-quinary-400: var(--colors-gray-light-mode-400);
  --colors-foreground-quinary-hover: var(--colors-gray-light-mode-500);
  --colors-foreground-error-primary: var(--colors-error-600);
  --colors-foreground-disabled-subtle: var(--colors-gray-light-mode-300);
  --colors-foreground-warning-secondary: var(--colors-warning-500);
  --colors-foreground-error-secondary: var(--colors-error-500);
  --colors-foreground-senary-300: var(--colors-gray-light-mode-300);
  --colors-foreground-tertiary-600: var(--colors-gray-light-mode-600);
  --colors-foreground-tertiary-hover: var(--colors-gray-light-mode-700);
  --colors-foreground-brand-primary-alt: var(--colors-brand-600);
  --component-colors-utility-blue-utility-blue-600: var(--colors-blue-600);
  --component-colors-utility-blue-utility-blue-700: var(--colors-blue-700);
  --component-colors-utility-blue-utility-blue-500: var(--colors-blue-500);
  --component-colors-utility-blue-utility-blue-200: var(--colors-blue-200);
  --component-colors-utility-blue-utility-blue-50: var(--colors-blue-50);
  --component-colors-utility-blue-utility-blue-100: var(--colors-blue-100);
  --component-colors-utility-blue-utility-blue-400: var(--colors-blue-400);
  --component-colors-utility-blue-utility-blue-300: var(--colors-blue-300);
  --component-colors-utility-brand-utility-brand-600: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-700: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-500: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-200: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-50: var(--colors-brand-50);
  --component-colors-utility-brand-utility-brand-100: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-400: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-50-alt: var(--colors-brand-50);
  --component-colors-utility-brand-utility-brand-100-alt: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-200-alt: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-400-alt: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-500-alt: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-600-alt: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-700-alt: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-300: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-900: var(--colors-brand-900);
  --component-colors-utility-brand-utility-brand-800: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-300-alt: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-800-alt: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-900-alt: var(--colors-brand-900);
  --component-colors-utility-gray-utility-gray-700: var(--colors-gray-light-mode-700);
  --component-colors-utility-gray-utility-gray-600: var(--colors-gray-light-mode-600);
  --component-colors-utility-gray-utility-gray-500: var(--colors-gray-light-mode-500);
  --component-colors-utility-gray-utility-gray-200: var(--colors-gray-light-mode-200);
  --component-colors-utility-gray-utility-gray-50: var(--colors-gray-light-mode-50);
  --component-colors-utility-gray-utility-gray-100: var(--colors-gray-light-mode-100);
  --component-colors-utility-gray-utility-gray-400: var(--colors-gray-light-mode-400);
  --component-colors-utility-gray-utility-gray-300: var(--colors-gray-light-mode-300);
  --component-colors-utility-gray-utility-gray-900: var(--colors-gray-light-mode-900);
  --component-colors-utility-gray-utility-gray-800: var(--colors-gray-light-mode-800);
  --component-colors-utility-error-utility-error-600: var(--colors-error-600);
  --component-colors-utility-error-utility-error-700: var(--colors-error-700);
  --component-colors-utility-error-utility-error-500: var(--colors-error-500);
  --component-colors-utility-error-utility-error-200: var(--colors-error-200);
  --component-colors-utility-error-utility-error-50: var(--colors-error-50);
  --component-colors-utility-error-utility-error-100: var(--colors-error-100);
  --component-colors-utility-error-utility-error-400: var(--colors-error-400);
  --component-colors-utility-error-utility-error-300: var(--colors-error-300);
  --component-colors-utility-warning-utility-warning-600: var(--colors-warning-600);
  --component-colors-utility-warning-utility-warning-700: var(--colors-warning-700);
  --component-colors-utility-warning-utility-warning-500: var(--colors-warning-500);
  --component-colors-utility-warning-utility-warning-200: var(--colors-warning-200);
  --component-colors-utility-warning-utility-warning-50: var(--colors-warning-50);
  --component-colors-utility-warning-utility-warning-100: var(--colors-warning-100);
  --component-colors-utility-warning-utility-warning-400: var(--colors-warning-400);
  --component-colors-utility-warning-utility-warning-300: var(--colors-warning-300);
  --component-colors-utility-success-utility-success-600: var(--colors-success-600);
  --component-colors-utility-success-utility-success-700: var(--colors-success-700);
  --component-colors-utility-success-utility-success-500: var(--colors-success-500);
  --component-colors-utility-success-utility-success-200: var(--colors-success-200);
  --component-colors-utility-success-utility-success-50: var(--colors-success-50);
  --component-colors-utility-success-utility-success-100: var(--colors-success-100);
  --component-colors-utility-success-utility-success-400: var(--colors-success-400);
  --component-colors-utility-success-utility-success-300: var(--colors-success-300);
  --component-colors-utility-orange-utility-orange-600: var(--colors-orange-600);
  --component-colors-utility-orange-utility-orange-700: var(--colors-orange-700);
  --component-colors-utility-orange-utility-orange-500: var(--colors-orange-500);
  --component-colors-utility-orange-utility-orange-200: var(--colors-orange-200);
  --component-colors-utility-orange-utility-orange-50: var(--colors-orange-50);
  --component-colors-utility-orange-utility-orange-100: var(--colors-orange-100);
  --component-colors-utility-orange-utility-orange-400: var(--colors-orange-400);
  --component-colors-utility-orange-utility-orange-300: var(--colors-orange-300);
  --component-colors-utility-blue-dark-utility-blue-dark-600: var(--colors-blue-dark-600);
  --component-colors-utility-blue-dark-utility-blue-dark-700: var(--colors-blue-dark-700);
  --component-colors-utility-blue-dark-utility-blue-dark-500: var(--colors-blue-dark-500);
  --component-colors-utility-blue-dark-utility-blue-dark-200: var(--colors-blue-dark-200);
  --component-colors-utility-blue-dark-utility-blue-dark-50: var(--colors-blue-dark-50);
  --component-colors-utility-blue-dark-utility-blue-dark-100: var(--colors-blue-dark-100);
  --component-colors-utility-blue-dark-utility-blue-dark-400: var(--colors-blue-dark-400);
  --component-colors-utility-blue-dark-utility-blue-dark-300: var(--colors-blue-dark-300);
  --component-colors-utility-indigo-utility-indigo-600: var(--colors-indigo-600);
  --component-colors-utility-indigo-utility-indigo-700: var(--colors-indigo-700);
  --component-colors-utility-indigo-utility-indigo-500: var(--colors-indigo-500);
  --component-colors-utility-indigo-utility-indigo-200: var(--colors-indigo-200);
  --component-colors-utility-indigo-utility-indigo-50: var(--colors-indigo-50);
  --component-colors-utility-indigo-utility-indigo-100: var(--colors-indigo-100);
  --component-colors-utility-indigo-utility-indigo-400: var(--colors-indigo-400);
  --component-colors-utility-indigo-utility-indigo-300: var(--colors-indigo-300);
  --component-colors-utility-fuchsia-utility-fuchsia-600: var(--colors-fuchsia-600);
  --component-colors-utility-fuchsia-utility-fuchsia-700: var(--colors-fuchsia-700);
  --component-colors-utility-fuchsia-utility-fuchsia-500: var(--colors-fuchsia-500);
  --component-colors-utility-fuchsia-utility-fuchsia-200: var(--colors-fuchsia-200);
  --component-colors-utility-fuchsia-utility-fuchsia-50: var(--colors-fuchsia-50);
  --component-colors-utility-fuchsia-utility-fuchsia-100: var(--colors-fuchsia-100);
  --component-colors-utility-fuchsia-utility-fuchsia-400: var(--colors-fuchsia-400);
  --component-colors-utility-fuchsia-utility-fuchsia-300: var(--colors-fuchsia-300);
  --component-colors-utility-pink-utility-pink-600: var(--colors-pink-600);
  --component-colors-utility-pink-utility-pink-700: var(--colors-pink-700);
  --component-colors-utility-pink-utility-pink-500: var(--colors-pink-500);
  --component-colors-utility-pink-utility-pink-200: var(--colors-pink-200);
  --component-colors-utility-pink-utility-pink-50: var(--colors-pink-50);
  --component-colors-utility-pink-utility-pink-100: var(--colors-pink-100);
  --component-colors-utility-pink-utility-pink-400: var(--colors-pink-400);
  --component-colors-utility-pink-utility-pink-300: var(--colors-pink-300);
  --component-colors-utility-purple-utility-purple-600: var(--colors-purple-600);
  --component-colors-utility-purple-utility-purple-700: var(--colors-purple-700);
  --component-colors-utility-purple-utility-purple-500: var(--colors-purple-500);
  --component-colors-utility-purple-utility-purple-200: var(--colors-purple-200);
  --component-colors-utility-purple-utility-purple-50: var(--colors-purple-50);
  --component-colors-utility-purple-utility-purple-100: var(--colors-purple-100);
  --component-colors-utility-purple-utility-purple-400: var(--colors-purple-400);
  --component-colors-utility-purple-utility-purple-300: var(--colors-purple-300);
  --component-colors-utility-orange-dark-utility-orange-dark-600: var(--colors-orange-dark-600);
  --component-colors-utility-orange-dark-utility-orange-dark-700: var(--colors-orange-dark-700);
  --component-colors-utility-orange-dark-utility-orange-dark-500: var(--colors-orange-dark-500);
  --component-colors-utility-orange-dark-utility-orange-dark-200: var(--colors-orange-dark-200);
  --component-colors-utility-orange-dark-utility-orange-dark-50: var(--colors-orange-dark-50);
  --component-colors-utility-orange-dark-utility-orange-dark-100: var(--colors-orange-dark-100);
  --component-colors-utility-orange-dark-utility-orange-dark-400: var(--colors-orange-dark-400);
  --component-colors-utility-orange-dark-utility-orange-dark-300: var(--colors-orange-dark-300);
  --component-colors-utility-blue-light-utility-blue-light-600: var(--colors-blue-light-600);
  --component-colors-utility-blue-light-utility-blue-light-700: var(--colors-blue-light-700);
  --component-colors-utility-blue-light-utility-blue-light-500: var(--colors-blue-light-500);
  --component-colors-utility-blue-light-utility-blue-light-200: var(--colors-blue-light-200);
  --component-colors-utility-blue-light-utility-blue-light-50: var(--colors-blue-light-50);
  --component-colors-utility-blue-light-utility-blue-light-100: var(--colors-blue-light-100);
  --component-colors-utility-blue-light-utility-blue-light-400: var(--colors-blue-light-400);
  --component-colors-utility-blue-light-utility-blue-light-300: var(--colors-blue-light-300);
  --component-colors-utility-gray-blue-utility-gray-blue-600: var(--colors-gray-blue-600);
  --component-colors-utility-gray-blue-utility-gray-blue-700: var(--colors-gray-blue-700);
  --component-colors-utility-gray-blue-utility-gray-blue-500: var(--colors-gray-blue-500);
  --component-colors-utility-gray-blue-utility-gray-blue-200: var(--colors-gray-blue-200);
  --component-colors-utility-gray-blue-utility-gray-blue-50: var(--colors-gray-blue-50);
  --component-colors-utility-gray-blue-utility-gray-blue-100: var(--colors-gray-blue-100);
  --component-colors-utility-gray-blue-utility-gray-blue-400: var(--colors-gray-blue-400);
  --component-colors-utility-gray-blue-utility-gray-blue-300: var(--colors-gray-blue-300);
  --component-colors-components-tooltips-tooltip-supporting-text: var(--colors-gray-light-mode-300);
  --component-colors-components-buttons-primary-button-primary-bg: var(--colors-brand-600);
  --component-colors-components-buttons-primary-button-primary-hover: var(--colors-brand-700);
  --component-colors-components-buttons-primary-button-primary-fg: var(--colors-base-white);
  --component-colors-components-buttons-primary-button-primary-border: var(--colors-brand-600);
  --component-colors-components-buttons-primary-button-primary-border-hover: var(--colors-brand-700);
  --component-colors-components-buttons-primary-button-primary-hover: var(--colors-base-white);
  --component-colors-components-buttons-secondary-button-secondary-bg: var(--colors-base-white);
  --component-colors-components-buttons-secondary-button-secondary-hover: var(--colors-gray-light-mode-50);
  --component-colors-components-buttons-secondary-button-secondary-fg: var(--colors-gray-light-mode-700);
  --component-colors-components-buttons-secondary-button-secondary-hover: var(--colors-gray-light-mode-800);
  --component-colors-components-buttons-secondary-button-secondary-border: var(--colors-gray-light-mode-300);
  --component-colors-components-buttons-secondary-button-secondary-border-hover: var(--colors-gray-light-mode-300);
  --component-colors-components-buttons-secondary-color-button-secondary-color-bg: var(--colors-base-white);
  --component-colors-components-buttons-secondary-color-button-secondary-color-hover: var(--colors-brand-50);
  --component-colors-components-buttons-secondary-color-button-secondary-color-border-hover: var(--colors-brand-300);
  --component-colors-components-buttons-secondary-color-button-secondary-color-border: var(--colors-brand-300);
  --component-colors-components-buttons-secondary-color-button-secondary-color-fg: var(--colors-brand-700);
  --component-colors-components-buttons-secondary-color-button-secondary-color-hover: var(--colors-brand-800);
  --component-colors-components-buttons-primary-error-button-primary-error-fg: var(--colors-base-white);
  --component-colors-components-buttons-primary-error-button-primary-error-hover: var(--colors-base-white);
  --component-colors-components-buttons-primary-error-button-primary-error-bg: var(--colors-error-600);
  --component-colors-components-buttons-primary-error-button-primary-error-hover: var(--colors-error-700);
  --component-colors-components-buttons-primary-error-button-primary-error-border: var(--colors-error-600);
  --component-colors-components-buttons-primary-error-button-primary-error-border-hover: var(--colors-error-700);
  --component-colors-components-buttons-secondary-error-button-secondary-error-fg: var(--colors-error-700);
  --component-colors-components-buttons-secondary-error-button-secondary-error-hover: var(--colors-error-800);
  --component-colors-components-buttons-secondary-error-button-secondary-error-bg: var(--colors-base-white);
  --component-colors-components-buttons-secondary-error-button-secondary-error-hover: var(--colors-error-50);
  --component-colors-components-buttons-secondary-error-button-secondary-error-border: var(--colors-error-300);
  --component-colors-components-buttons-secondary-error-button-secondary-error-border-hover: var(--colors-error-300);
  --component-colors-components-buttons-tertiary-button-tertiary-fg: var(--colors-gray-light-mode-600);
  --component-colors-components-buttons-tertiary-button-tertiary-hover: var(--colors-gray-light-mode-700);
  --component-colors-components-buttons-tertiary-button-tertiary-hover: var(--colors-gray-light-mode-50);
  --component-colors-components-buttons-tertiary-color-button-tertiary-color-fg: var(--colors-brand-700);
  --component-colors-components-buttons-tertiary-color-button-tertiary-color-hover: var(--colors-brand-800);
  --component-colors-components-buttons-tertiary-color-button-tertiary-color-hover: var(--colors-brand-50);
  --component-colors-components-buttons-tertiary-error-button-tertiary-error-fg: var(--colors-error-700);
  --component-colors-components-buttons-tertiary-error-button-tertiary-error-hover: var(--colors-error-800);
  --component-colors-components-buttons-tertiary-error-button-tertiary-error-hover: var(--colors-error-50);
  --component-colors-components-wysiwyg-editor-wysiwyg-editor-icon-fg: var(--colors-gray-light-mode-400);
  --component-colors-components-wysiwyg-editor-wysiwyg-editor-icon-active: var(--colors-gray-light-mode-500);
  --component-colors-components-avatars-avatar-contrast-border: #00000014;
  --component-colors-components-avatars-avatar-profile-photo-border: var(--colors-base-white);
  --component-colors-components-avatars-avatar-bg: var(--colors-gray-light-mode-100);
  --component-colors-components-avatars-avatar-focus-border: #98a2b324;
  --component-colors-components-breadcrumbs-breadcrumb-fg: var(--colors-gray-light-mode-600);
  --component-colors-components-breadcrumbs-breadcrumb-hover: var(--colors-gray-light-mode-700);
  --component-colors-components-breadcrumbs-breadcrumb-hover: var(--colors-gray-light-mode-50);
  --component-colors-components-breadcrumbs-breadcrumb-brand-hover: var(--colors-brand-50);
  --component-colors-components-breadcrumbs-breadcrumb-brand-hover: var(--colors-brand-700);
  --component-colors-components-breadcrumbs-breadcrumb-icon-fg: var(--colors-gray-light-mode-500);
  --component-colors-components-breadcrumbs-breadcrumb-icon-hover: var(--colors-gray-light-mode-700);
  --component-colors-components-breadcrumbs-breadcrumb-brand-icon-hover: var(--colors-brand-700);
  --component-colors-components-icons-featured-icons-modern-featured-icon-modern-border: var(--colors-gray-light-mode-200);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-brand: var(--colors-brand-600);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-gray: var(--colors-gray-light-mode-500);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-error: var(--colors-error-600);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-warning: var(--colors-warning-600);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-success: var(--colors-success-600);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-brand: var(--colors-base-white);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-gray: var(--colors-base-white);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-error: var(--colors-base-white);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-warning: var(--colors-base-white);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-success: var(--colors-base-white);
  --component-colors-components-icons-icons-icon-brand: var(--colors-brand-600);
  --component-colors-components-icons-icons-icon-brand-on-brand: var(--colors-brand-200);
  --component-colors-components-icons-social-icons-social-icon-x: #242e36;
  --component-colors-components-icons-social-icons-social-icon-apple: var(--colors-base-black);
  --component-colors-components-icons-social-icons-social-icon-github: var(--colors-base-black);
  --component-colors-components-icons-social-icons-social-icon-angellist: var(--colors-base-black);
  --component-colors-components-icons-social-icons-social-icon-tumblr: #001935;
  --component-colors-components-icons-social-icons-social-icon-instagram: #000100;
  --component-colors-components-application-navigation-nav-item-icon-fg: var(--colors-gray-light-mode-500);
  --component-colors-components-application-navigation-nav-item-icon-active: var(--colors-gray-light-mode-500);
  --component-colors-components-application-navigation-nav-item-button-icon-fg: var(--colors-gray-light-mode-500);
  --component-colors-components-application-navigation-nav-item-button-icon-active: var(--colors-gray-light-mode-700);
  --component-colors-components-sliders-slider-handle-border: var(--colors-border-brand-solid);
  --component-colors-components-sliders-slider-handle-bg: var(--colors-base-white);
  --component-colors-components-header-sections-header-abstract-50-bg: var(--colors-brand-50);
  --component-colors-components-header-sections-header-abstract-100-bg: var(--colors-brand-100);
  --component-colors-components-header-sections-header-abstract-200-bg: var(--colors-brand-200);
  --component-colors-components-header-sections-header-abstract-300-bg: var(--colors-brand-300);
  --component-colors-components-mockups-screen-mockup-border: var(--colors-gray-light-mode-900);
  --component-colors-components-footers-footer-button-fg: var(--colors-brand-200);
  --component-colors-components-footers-footer-button-hover: var(--colors-base-white);
  --component-colors-components-footers-footer-badge-fg: var(--colors-success-700);
  --component-colors-components-footers-footer-badge-border: var(--colors-success-200);
  --component-colors-components-footers-footer-badge-bg: var(--colors-success-50);
  --component-colors-components-app-store-badges-app-store-badge-border: #a6a6a6;
  --component-colors-components-thumbnail-thumbnail-badge-brand-fg: var(--colors-brand-700);
  --component-colors-components-thumbnail-thumbnail-badge-success-fg: var(--colors-success-700);
  --component-colors-components-toggles-toggle-button-disabled: var(--colors-gray-light-mode-50);
  --component-colors-alpha-alpha-white-90: #ffffffe6;
  --component-colors-alpha-alpha-white-80: #ffffffcc;
  --component-colors-alpha-alpha-white-70: #ffffffb3;
  --component-colors-alpha-alpha-white-60: #ffffff99;
  --component-colors-alpha-alpha-white-50: #ffffff80;
  --component-colors-alpha-alpha-white-40: #ffffff66;
  --component-colors-alpha-alpha-white-30: #ffffff4d;
  --component-colors-alpha-alpha-white-20: #ffffff33;
  --component-colors-alpha-alpha-white-10: #ffffff1a;
  --component-colors-alpha-alpha-black-10: #0000001a;
  --component-colors-alpha-alpha-black-20: #00000033;
  --component-colors-alpha-alpha-black-30: #0000004d;
  --component-colors-alpha-alpha-black-40: #00000066;
  --component-colors-alpha-alpha-black-50: #00000080;
  --component-colors-alpha-alpha-black-60: #00000099;
  --component-colors-alpha-alpha-black-70: #000000b3;
  --component-colors-alpha-alpha-black-80: #000000cc;
  --component-colors-alpha-alpha-black-90: #000000e6;
  --component-colors-alpha-alpha-black-100: #000000;
  --component-colors-alpha-alpha-white-100: #ffffff;
}